body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    background: #000;
}

#gif-container {
    position: absolute;
    pointer-events: none;
}
